= provide(:title, 'All users')
%div.row
  %div.large-12.columns.large
    %h1 All users
    = will_paginate @users, renderer: FoundationPagination::Rails    
    %ul.users
      - @users.each do |user|
        %li
          = gravatar_for user, size: 25
          = link_to user.name, user
    = will_paginate @users, renderer: FoundationPagination::Rails      