= provide(:title, @user.name)
%div.row
  %div.large-4.large.columns.sidebar
    %section
      %h3<
        = gravatar_for @user
        = @user.name
  %div.large-8.large.columns  
    - if @user.microposts.any?
      %h3
        Microposts
        = @user.microposts.count
      %ol.microposts
        = render @microposts
      = will_paginate @microposts, renderer: FoundationPagination::Rails  