%div.contain-to-grid
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          = link_to "sample app", '#', id: "logo" 
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.left
        %li.divider
        %li.active
          = link_to "Home", root_path
        %li.divider
        %li.active
          = link_to "Help", help_path
        %li.divider
        - if signed_in?           
          %li.has-dropdown.not-click 
            %a{:href => "#"} Account
            %ul.dropdown
              %li.title.back.js-generated
                %h5
                  %a{:href => "#"} Back
              %li 
                = link_to "Profile", current_user
              %li
                = link_to "Settings", edit_user_path(current_user)
              %li
                = link_to "Sign Out", signout_path, method: "delete"
        - else
          %li.active
            = link_to "Sign in", signin_path